body{padding-top: 20px;
}

#studyContent{
    padding-top: 50px;
}
#studyTerm, #studyDefinition{
    font-size: 30px;
}
#definitionBox{
    margin-bottom: 30px;
    height: 30px;
}

.hide{opacity: 0;}

.rating-1{color:#d9534f;}

.rating-2{color:#f0ad4e;}

.rating-3{color:#f0d928;}

.rating-4{color:#5cb85c;}

.rating-5{color:#428bca;}

#rateBtns {
    padding-bottom: 40px;
}

#responseBtn {
    padding-bottom: 40px;
}