<!--suppress HtmlUnknownAnchorTarget -->
<div ng-controller="HomeCtrl">
<nav>
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#">Home</a> </li>
    </ul>
</nav>
        <p>Sets:</p>
<div ng-repeat="(id,set) in setRef">
    <h3>{{set.title}}</h3>
    <div class="btn-group btn-group-justified">
        <a class="btn btn-primary" href="#/edit/{{id}}">Edit</a>
        <a class="btn btn-success" href="#/study/{{id}}">Study</a>
        <a class="btn btn-danger" ng-click="deleteSet(id)">Delete</a>
    </div>
    <hr>
</div>
        <button ng-click="createSet()" class="btn btn-default btn-block"><span class="glyphicon glyphicon-plus"></span> New Set</button>

</div>