<h1>Select a Service Type</h1>
<!--<div ng-repeat="folder in serviceTypeFolders">
    <p>{{folder.name}}</p>
    <p ng-show="folder.service_type_folders.length>0">Folders:</p>
    <div ng-repeat="nestedFolder in folder.service_type_folders">
        {{nestedFolder.name}}
    </div>
<p>Service Types:</p>
    <div ng-repeat="serviceType in folder.service_types">
        {{serviceType.name}}
    </div>

</div>-->
<h2>Folders</h2>
<div ng-repeat="(index, folder) in currentFolder.service_type_folders">
    <button class="btn btn-default" ng-click="selectFolder(index)"><span class="glyphicon glyphicon-folder-open"></span> {{folder.name}}</button>
    <br><br>
</div>

<h2>Service Types</h2>
<div ng-repeat="serviceType in currentFolder.service_types">
    <a href="#/submit/{{serviceType.id}}">{{serviceType.name}}</a>
    <br>
</div>
